<!DOCTYPE html>
<html lang="en">

<head>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <div class="container">
        <!--     SIDE AREA -->
        <div class="sideArea">
            <div class="avatar">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCNOdyoIXDDBztO_GC8MFLmG_p6lZ2lTDh1ZnxSDawl1TZY_Zw" alt="">
                <div class="avatarName">Welcome,<br>
                    <%= userName %>
                </div>
            </div>
            <ul class="sideMenu">
                <li><a href="/admin-pages/data" class="nav-link  <%= hover === 'true' ? 'active' : '' %>"><span class="fa fa-book"></span>DATA</a></li>
                <li><a href="/admin-pages/edit" class="nav-link <%= hover === 'true' ? 'active' : '' %>"><span class="fa fa-edit"></span>EDIT</a></li>
                <li><a href="/admin-pages/support" class="nav-link <%= hover === 'true' ? 'active' : '' %> "><span class="fa fa-support"></span>SUPPORT</a></li>
            </ul>
        </div>
        <!--     SIDE AREA -->
        <div class="mainArea">
            <!-- BEGIN NAV -->
            <nav class="navTop row">
                <div class="menuIcon fl"><span class="fa fa-bars"></span></div>
                <div class="account fr">
                    <div class="name has-submenu"><a href="/logout">Log Out</a><span class="fa fa-sign-out"></span></div>
                </div>
            </nav>
            <!-- END NAV -->